.bookCard {

    width: 114px;
    padding:  0px;
    height: 250px;

    text-decoration: none;
    color: #000000;
  

}

.bookimg {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}

.auther{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    color: #979797;
}

.title{
    margin-bottom: 5px;
    font-size: 11px;
}